/* Base Styles */
body {
    font-family: system-ui, -apple-system, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    
    background-image: url('https://files.catbox.moe/t12845.jpg');
    background-repeat: repeat;
    background-attachment: fixed; 

    color: var(--text);
}

.container {
    box-sizing: border-box; 
    width: 100%;
    max-width: 500px;
    margin: 40px auto; 
    
    background-color: rgba(49, 50, 68, 0.92); 
    backdrop-filter: blur(4px);
    
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 
}
